@import url('https://fonts.googleapis.com/css?family=Inter:400|Inter:400');

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
} /*16px*/

body {
	background-color: #f2f7f5;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.65;
	color: #00473e;
	display: grid;
	justify-content: center;
	grid-template-columns: 50vw;
}

p {
	margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1.05rem;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.15;
}

h1 {
	font-size: 3.052em;
	justify-self: center;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	margin-top: 0.5em;
	font-size: 1.25em;
	color: #00473e;
}

small,
.text_small {
	font-size: 0.8em;
}

.next-topic-container,
.prevTopicContainer {
	display: grid;
	grid-gap: 20px;
	place-items: center;
	grid-template-columns: auto;
}

article {
	background: white;
	padding: 1.5rem 2rem;
	border-radius: 5px;
	display: grid;
	justify-items: center;
	width: 100%;
	margin: 1rem;
}

.archive,
.delete {
	justify-self: right;
	background-color: transparent;
}

article svg {
	width: 20px;
}

form {
	display: grid;
	grid-template-columns: 10fr 1fr;
	gap: 10px;
}

input {
	background: #f2f7f5;
	padding: 0.8rem;
	border: none;
	border-radius: 5px;
}

button {
	border: none;
	border-radius: 5px;
	padding: 0.8rem;
	cursor: pointer;
}

form button {
	background: #faae2c;
	color: #00473e;
}

.archive {
	background-image: url('./assets/archiveSvg.svg');
	background-repeat: no-repeat;
	width: 20px;
	display: block;
}

.delete {
	background-image: url('./assets/trashSvg.svg');
	background-repeat: no-repeat;
	width: 15px;
	display: block;
}

.upvote {
	background-image: url('./assets/upvoteSvg.svg');
}
.downvote {
	background-image: url('./assets/downvoteSvg.svg');
}
.upvote,
.downvote {
	background-repeat: no-repeat;
	display: block;
	border-radius: 50%;
	padding: 1rem;
	width: 20px;
	background-color: #faae2c;
	background-position: 10%;
}
	
.votes {
	display: flex;
	gap: 15px;
	align-items: center;
	color: #d8779a;
}

article p {
	color: #faae2c;
}
